* {
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e0ff00;
}
table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
table thead {
  border: 2px solid green;
  width: 100%;
}
table tbody {
  border: 2px solid green;
  width: 100%;
}
table thead tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
table tbody tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
button {
        padding: 2px;
}
